:root {
  --section-padding: 4% ;
  --section-margin: 5%;
  --serif-font: 'EB Garamond', serif;
  --sans-serif-1: 'Roboto', sans-serif;
  --sans-serif-2: 'Open Sans', sans-serif;
  --light-font: white;
  --dark-font: black;
  --bg-glow: 0 0 20px #996f35, 0 0 15px #996f35, 0 0 10px #996f35;
}

/* Override Safari button styles */
/* input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
} */

body{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.gold-bg{
    background-color: rgb(199, 185, 103);
    border-radius: 10px;
    box-shadow: 0 0 30px 2px rgb(29, 26, 15);
    color: var(--dark-font);
}

.dark-bg{
    background-color: rgb(52, 58, 64);
    border-radius: 10px;
    box-shadow: 0 0 30px 2px rgb(31, 30, 30);
    color: var(--light-font);
}

.bg-glow:hover{
    text-decoration: none;
    text-shadow: var(--bg-glow);
    transform: scale(1.1);
    transition: .5s;

}

/* Full site marble background image */
.marble-bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


/* logo top left corner */
.brand-logo{
    border-radius: 50%;
    height: 140px;
    margin: 10px;
    transition: .5s;
}

.brand-logo:hover{
    box-shadow: var(--bg-glow);
}

/* carousel */
.carousel-img{
    object-fit: cover;
    width: 100%;
}

/* hides next/prev carousel controls */
.carousel-control-next-icon,.carousel-control-prev-icon{
    display: none;
}

/* modifies carousel indicators */
.carousel-indicators li{
    border-radius: 50%;
    width:8px;
    height: 8px;
    margin: 0 15px;
}

.caption-text{
font-size: 3.5vw;
font-weight: 400;
font-family: 'Barlow Condensed', sans-serif;
 letter-spacing: 1px;
position: absolute;
text-shadow: 0 0 10px #a57817, 0 0 5px #996f35, 0 0 10px #996f35;
top: 10%;
width: 100%;
}


/* navbar on main page */
.navbar{
    background-color: rgba(0, 0, 0, 0.705);
}

#nav .nav-link{
    color: var(--light-font);
    display: inline-block;
    font-family: var(--sans-serif-2);
    font-size: 1rem;
    letter-spacing: 1.8px;
    padding: 0 3vw;
    text-align: right;
    transition: .5s;
}

/* aligns anchor tags in the nav to right side in toggler dropdown */
.nav-item{
    text-align: right;
}

/* hamburger button modifications*/
.custom-toggler.navbar-toggler { 
    border: 1px;
    border-color: rgba(0, 0, 0, 0.6); 
  } 

button.navbar-toggler{
    opacity: .7;
    outline: none;
    transition: .5s;
}

button.navbar-toggler:hover{
    opacity: 1;
    transform: scale(1.1);
}

.custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

#navbarNavDropdown{
    transition: .8s;
}

/* Treatment options & Infrared Sauna sections*/
.massage-therapy-options,.infrared-sauna-main{
    font-family: var(--sans-serif-1);
    font-size: 1.2rem;
    width: 100%;
}

.services-grid{
    margin: var(--section-margin);
    padding: var(--section-padding);
}

.infrared-grid-main{
    margin: var(--section-margin);
    margin-bottom: 0;
    padding: var(--section-padding);
}

.infrared-subheading-main{
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.infrared-benefits-mobile-main{
    display: none;
}

.massage-therapy-heading,.infrared-heading-main{
     font-size: 3rem;
    margin: 2% auto 5%;
    padding: 0;
}

.massage-therapy-img,.infrared-img-main{ 
    border-radius: 15px;
    margin: 6%;
    width: 100%;
}

.treatment-label{
font-size: 1.1rem;   
font-weight: 600;
letter-spacing: .8px;
margin-bottom: .5rem;
}

.pricing-btn,.sauna-btn{
    font-family: var(--sans-serif-1);
    font-size: 1.3rem;
    margin: 3% auto 1%;
    transition: .3s;
    -webkit-appearance: none;
}

.btn-optional-mobile{
    display: none;
}

.pricing-btn:hover,.sauna-btn:hover{
   transform: scale(.98);
}

.testimonial-cell{
    font-family: 'Sorts Mill Goudy', serif;
    padding: 4%;
}

.testimonial-box{
    padding: var(--section-margin)
}

/* .testimonial-content{
    display: inline-block;
} */

.testimonial-header{
    font-size: 5rem;
    text-align: center;
}

.testimonial-quote{
    font-size: 1.2rem;
}

/* .Copyright {
  bottom: 0;
  color: rgb(152, 215, 230);
  font-size: .75rem;
  margin: 20px auto 10px;
  position: absolute;
  width: 100%;
} */

.contact{
    background-color: rgb(18, 20, 22);
    padding: 3%;
}

.cta{
    color: var(--light-font);
    font-family: var(--serif-font);
    font-size: 1.2rem;
}

.cta-grid{
    gap:5%;
    }

.reach-out{
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 5%;
}

.green-bay{
    color: rgb(85, 170, 77);
    font-size: 1.4rem;
}

.phone-number{
    font-size: 1.2rem;
    margin-top: 10%;
}

.massage-table{
    border-radius: 20px;
    width: 100%;
}

.massage-table-mobile{
    display: none;
}

.social-icon {
  color: rgb(241, 225, 133);
  font-size: 1.5rem;
  padding: 0 20px;
}

.social-icon:hover{
    color: rgb(241, 225, 133);
}

/* About me & Infrared sauna page */
.about,.infrared-sauna-page{
    width: 100%;
}

.about-box,.infrared-box{
    margin: var(--section-margin);
    padding: var(--section-padding);
}

.headshot{
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgb(48, 46, 18);
    margin: 0 5% 3% 0;
    width: 30%;
}

.infrared-page-img{
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgb(8, 6, 19);
    width: 45%;
}

.about-me-desc{
    font-family: var(--sans-serif-2);
    font-size: 1.1rem;
    width: 100%;
}

.about-me-bottom{
    width: 80%;
}

.infrared-heading-page{
    font-size: 1.8rem;
}

.infrared-desc{
    font-family: var(--sans-serif-2);
    font-size: 1.1rem;
    width: 100%;
}

.about-footer{
     background-color: rgb(18, 20, 22);
    height: 80px;
    padding-top: 20px;
    width: 100%;
}

@media (max-width:991px){

.massage-therapy-brief{
    margin-bottom: 10%;
}

.infrared-text-main{
    text-align: center;
}

.infrared-heading-main{
    font-size: 2.5rem;
}

.infrared-subheading-main{
    font-size: 1.25rem;
}

.infrared-benefits-desktop-main{
    display: none;
}

.infrared-benefits-mobile-main{
    display: block;
}

.btn-optional-desktop{
    display: none;
}

.btn-optional-mobile{
     display: block;
    font-family: var(--sans-serif-1);
    font-size: 1.3rem;
    margin: 3% auto 1%;
    transition: .3s;
    -webkit-appearance: none;
    padding: 2%;
}
}

@media (max-width:767px){

 
:root {
  --section-padding: 4% 3%;
  --section-margin: 15% 0;
}

.gold-bg{
    box-shadow: 0 0 10px 1px rgb(39, 35, 20);
}

.dark-bg{
    box-shadow: 0 0 10px 1px rgb(31, 30, 30);
}


.services-grid{
    margin: var(--section-margin);
    padding: var(--section-padding);
}

.infrared-grid-main{
     margin: var(--section-margin);
     margin-bottom: 0;
    padding: var(--section-padding);
}

.brand-logo{
    margin: 15px 0 0;
    height:160px;
}

.navbar{
    background-color: transparent;
 }

#nav .nav-link{
    color: rgb(26, 26, 26);
    letter-spacing: normal;
    font-weight: 600;
    padding: 10px 0;
}

.caption-text{
font-size: 3.4vw;
font-weight: 700;
top: 20%;
}

.massage-therapy-heading, .infrared-heading-main{
    font-size: 2.5rem;
    margin: 8% 0;
}

.cta-text h2{
    margin: 2% auto;
}

.massage-table-mobile{
    display: block;
    margin: 10% 0;
}

.massage-table-desktop{
    display: none;
}

.testimonial-cell{
    line-height: 1.1;
    padding: 5%;
}

.about-box{
    --section-padding: 4% 3%;
  --section-margin: 15% 0;
}

.headshot{
    width: 40%;
}

.infrared-page-img{
    width: 50%;
}
  }

@media (max-width:575px){
  .headshot{
      box-shadow: 0 0 10px 5px rgb(48, 46, 18);
    margin: 0 auto 5%;
    width: 90%;
}  

.about-box{
    padding: 10% 2%;
}

.infrared-img-box{
    text-align: center;
}

.infrared-page-img{
    width: 90%;
}

.about-me-bottom{
    width: 100%;
}
}