/* Full site marble background image */
.marble-bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

body{
    margin: 0;
    padding: 0;
}

.top-section{
    width: 100%;
}

/* logo top left corner */
.brand-logo{
    border-radius: 50%;
    height: 150px;
   margin: 10px;
}

.brand-logo:hover{
    box-shadow: 0 0 10px 5px rgb(133, 106, 67, .8);
}

/* carousel */
.carousel-img{
    object-fit: cover;
    width: 100%;
}

.carousel-indicators li{
    border-radius: 50%;
    width:10px;
    height: 10px;
    margin: 0 15px;
}

/* navbar on main page */
.navbar{
    background-color: rgba(0, 0, 0, 0.705);
}

#nav .nav-link{
    color: white;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    letter-spacing: 1.8px;
    padding: 0 3vw;
    text-align: right;
    transition: .5s;
}

.nav-link:hover{
    color: black;
    transform: scale(1.1);
}


/* aligns anchor tags in the nav to right side in toggler dropdown */
.nav-item{
    text-align: right;
}

/* hamburger button modifications*/
.custom-toggler.navbar-toggler { 
    border: 1px;
    border-color: rgba(0, 0, 0, 0.6); 
  } 

button.navbar-toggler{
    opacity: .7;
    outline: none;
    transition: .5s;
}

button.navbar-toggler:hover{
    opacity: 1;
    transform: scale(1.1);
}

.custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

#navbarNavDropdown{
    transition: .8s;
}

/* Treatment options & Infrared Sauna sections*/
.massage-therapy-options,.infrared-sauna{
    font-family: 'Roboto', sans-serif;
    padding:3%;
    width: 100%;
}

.massage-therapy-heading,.infrared-sauna-heading{
     font-size: 3rem;
    margin: 2% auto 5%;
    padding: 0;
}

.services-grid{
    background-color: rgb(199, 185, 103);
    border-radius: 10px;
    box-shadow: 0 0 30px 2px rgb(29, 26, 15);
    margin: 1% 5%;
    padding: 2%;
}

.massage-therapy-img,.infrared-sauna-img{ 
    border-radius: 15px;
    margin: 4%;
    width: 100%;
}

.treatment-label{
font-size: 1.1rem;   
font-weight: 600;
margin-bottom: .5rem;
}


.pricing-btn,.sauna-btn{
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    margin: 4% auto 3%;
    transition: .5s;
}

.btn-optional-mobile{
    display: none;
}

.pricing-btn:hover,.sauna-btn:hover{
   transform: scale(1.02);
}

/* Infrared Sauna Section */


.infrared-sauna-subheading{
    font-size: 1.5rem;
    margin-bottom: 5%;
}


.infrared-sauna-grid{
    background-color: rgb(52, 58, 64);
    border-radius: 10px;
    box-shadow: 0 0 30px 2px rgb(31, 30, 30);
    color: white;
    margin: 1% 5% 5%;
    padding: 2%;
}

/* #footer {
    height: 15vh;
} */

/* .Copyright {
  bottom: 0;
  color: rgb(152, 215, 230);
  font-size: .75rem;
  margin: 20px auto 10px;
  position: absolute;
  width: 100%;
} */

.contact{
    background-color: rgb(27, 5, 11);
}

.cta{
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    padding-top: 3%;
}

.table{
    border-radius: 20px;
}

.table-optional-mobile{
    display: none;
}


.social-icon {
  color: rgb(179, 158, 44);
  font-size: 1.5rem;
  padding: 0 20px;
}

@media (max-width:768px) {

.brand-logo{
    margin: 15px 0 0;
    height:160px;
}

.navbar{
    background-color: transparent;
 }

#nav .nav-link{
    color: rgb(26, 26, 26);
    letter-spacing: normal;
    font-weight: 600;
    padding: 10px 0;
}

.carousel{
    margin-bottom: 8%;
}

.services-grid, .infrared-sauna-grid{
    margin: 6% 0;
}

.massage-therapy-heading, .infrared-sauna-heading{
    font-size: 2.5rem;
    margin: 8% 0;

}

.btn-optional-desktop{
    display: none;
}

.btn-optional-mobile{
    display: block;
    padding: 5%;
}

.cta{
    margin-top: 8%;
}

.cta-text p{
    margin: 5% auto 3%;
}

.table-optional-mobile{
    display: block;
    padding: 5% 0;
}

.table-optional-desktop{
    display: none;
}
  }