
.marble-bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  /* height: 100vh;
  width: 100%; */
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

body{
    /* background: url(marble2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; */
      height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.marble-bg{
    /* background: url(marble2.jpg);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* height: 100vh;
    position: absolute; */
    /* width: 100%; */
}

.top-section{
 
    /* height: 100vh; */
    width: 100%;

}



.marble-container{
    /* background: url(marble2.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    
    width: 100%;
    text-align: center;
}


/* logo top left corner */
.brand-logo{
    border-radius: 50%;
    height: 130px;
   margin: 10px;
    position: relative;
    width: auto;
}

.brand-logo:hover{
    box-shadow: 0 0 10px 5px rgb(133, 106, 67, .8);
}

/* carousel */

.carousel-img{
    object-fit: cover;
 width: 100%;
 /* position: relative;
 z-index: -1; */
}

/* align definition */
.align-desc{
    color: black;
    
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    width: 100%;
    position: absolute;
}

/* makes "align" slightly larger than definition*/
.align{
    color: black;
    font-size: 2.5rem;
}


/* navbar on main page */
.navbar{
    background-color: rgba(0, 0, 0, 0.705);
    /* margin: 0;
    padding: 0; */
    position: relative;
    width: 100%;
}

#nav .nav-link{
    color: white;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05rem;
    letter-spacing: 2px;
    padding: 0 3vw;
    text-align: right;
    transition: .5s;
}

.nav-link:hover{
    color: black;
    transform: scale(1.1);
}


/* aligns anchor tags in the nav to right side in toggler dropdown */
.nav-item{
    /* margin-bottom: 3%; */
    text-align: right;
}

/* hamburger button modifications*/
.custom-toggler.navbar-toggler { 
    border: 1px;
    border-color: rgba(0, 0, 0, 0.6); 
    /* margin-bottom: 4%; */
  } 

button.navbar-toggler{
    opacity: .7;
    outline: none;
    transition: .5s;
}

button.navbar-toggler:hover{
    opacity: 1;
    transform: scale(1.1);
}

.custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 





@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Sevices on main page section */
.massage-therapy-options{
    /* background-color: rgb(204, 182, 109); */
    padding:3%;
    width: 100%;
}

.massage-therapy-heading{
     font-family: 'Roboto', sans-serif;
     font-size: 3rem;
    margin: 2% auto 5%;
    padding: 0;
    text-align: center;
}

.services-grid{
    background-color: rgb(199, 185, 103);
    border-radius: 10px;
    box-shadow: 0 0 30px 2px rgb(29, 26, 15);
       margin: 1% 5%;
    padding: 2%;
}

.massage-therapy-img{ 
    margin: 4%;
    width: 100%;
}



.brief-cell{
    font-family: 'Roboto', sans-serif;
    padding: 4%;
}

.treatment-label{
font-size: 1.1rem;   
font-weight: 600;
margin-bottom: 1.5rem;
}

.massage-therapy-brief{
    text-align: justify;
    
} 

.pricing-btn,.sauna-btn{
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    margin: 4% auto 3%;
    transition: .5s;
}

.pricing-btn:hover,.sauna-btn:hover{
   transform: scale(1.02);
}

/* Infrared Sauna Section */
.infrared-sauna{
    /* background-color: rgb(225, 228, 183); */
    /* background-color: rgba(218, 191, 103, 0.692); */
    padding: 3%;
    width: 100%;
}

.infrared-sauna-heading{
   font-family: 'Roboto', sans-serif;
     font-size: 3rem;
    margin-bottom: 5%;
}

.infrared-sauna-subheading{
    
    font-size: 1.5rem;
    margin-bottom: 5%;
}



.infrared-sauna-grid{
    background-color: rgb(52, 58, 64);
    border-radius: 10px;
    box-shadow: 0 0 30px 2px rgb(31, 30, 30);
    color: white;
      margin: 1% 5% 5%;
    padding: 2%;
}

.infrared-sauna-right{
    text-align: center;
}

.infrared-sauna-img{
    width: 80%;
}

.infrared-sauna-benefits{
    margin-bottom: 10%;
}

#footer {
    /* background-color: rgb(52, 58, 64);; */
    /* background-image: url("marble2.jpg");
    background-size: 100%; */
    height: 15vh;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.socials{
    padding: 1%;
}


.social-icon {
  color: black;
  font-size: 1.5rem;
  padding: 0 50px;
}


/* .Copyright {
  bottom: 0;
  color: rgb(152, 215, 230);
  font-size: .75rem;
  margin: 20px auto 10px;
  position: absolute;
  width: 100%;
} */

.contact{
    background-color: #07030f;
}

.cta{
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    padding: 3%;
    text-align: center;
    width: 100%;
    text-align: center;
}

.cta-text{
    text-align: center;
}

.table{
    border-radius: 20px;
    width: 80%;
}

@media (max-width:768px) {

/* body{
 
        background: url(marble2.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.navbar{
    background-color: transparent;
 
}

#nav .nav-link{
    color: black;
    padding: 10px 0;
}

.services-grid, .infrared-sauna-grid{
    margin: 6% 0;
}

.massage-therapy-heading, .infrared-sauna-heading{
    font-size: 2.5rem;
    margin: 8% 0;

}

.cta{
    margin: 3% auto;
}
  }