:root {
  --section-padding: 4%;
  --section-margin: 5%;
  --serif-font: 'EB Garamond', serif;
  --sans-serif-1: 'Roboto', sans-serif;
  --sans-serif-2: 'Open Sans', sans-serif;
  --light-font: white;
  --dark-font: black;
  --bg-glow: 0 0 20px #996f35, 0 0 15px #996f35, 0 0 10px #996f35;
}

/* Makes position: absolute bottom:(footer height) keep footer at bottom of all pages */
html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0;
    padding: 0;
}

.gold-box{
    background-color: rgb(194, 172, 74);
    border-radius: 10px;
    box-shadow: 0 0 30px 2px rgb(29, 26, 15);
    color: var(--dark-font);
}

.dark-box{
    background-color: rgb(52, 58, 64);
    border-radius: 10px;
    box-shadow: 0 0 30px 2px rgb(31, 30, 30);
    color: var(--light-font);
}

.bg-glow:hover{
    text-decoration: none;
    text-shadow: var(--bg-glow);
    transform: scale(1.1);
    transition: .5s;
}

ul{
    padding-inline-start: 20px;
}

/* Full site marble background image */
.marble-bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 120vh;
  z-index: -1;
}


/* logo top left corner */
.brand-logo{
    border-radius: 50%;
    height: 140px;
    margin: 10px;
    transition: .5s;
}

.brand-logo:hover{
    box-shadow: var(--bg-glow);
}

/* Navbar on main page */
.navbar{
    background-color: rgba(0, 0, 0, 0.705);
}

#nav .nav-link{
    color: var(--light-font);
    display: inline-block;
    font-family: var(--sans-serif-2);
    font-size: 1rem;
    letter-spacing: 1.8px;
    padding: 0 3vw;
    text-align: right;
    transition: .5s;
}

/* aligns anchor tags in the nav to right side in toggler dropdown */
.nav-item{
    text-align: right;
}

/* hamburger button modifications*/
.custom-toggler.navbar-toggler { 
    border: 1px;
    border-color: rgba(0, 0, 0, 0.6); 
    position: relative;
} 

button.navbar-toggler{
    opacity: .7;
    outline: none;
    transition: .5s;
}

button.navbar-toggler:hover{
    opacity: 1;
    transform: scale(1.1);
}

.custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, .8)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

#navbarNavDropdown{
    transition: .8s;
}

/* Carousel */

/* hides next/prev carousel controls */
#carouselMain .carousel-control-next-icon,#carouselMain .carousel-control-prev-icon{
    display: none;
}

/* modifies carousel indicators */
#carouselMain .indicator{
    border-radius: 50%;
    width:8px;
    height: 8px;
    margin: 0 15px;
}


/* Image options dependent on screen size */
.landscape-slide-img{
   object-fit: cover;
    width: 100%;
}

.portrait-slide-img{
    display: none;
}


.carousel-img-landscape{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    position: relative;
}

.carousel-img-portrait{
    display: none;
}


/* Carousel slide #1 */
.carousel-1-text{
font-size: 3.5vw;
font-weight: 400;
font-family: 'Barlow Condensed', sans-serif;
letter-spacing: 1px;
position: absolute;
text-shadow: 0 0 10px #a57817, 0 0 5px #996f35, 0 0 10px #996f35;
top: 10%;
width: 100%;
}

/* Stones slide (slide 2) */
.fancy-align{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 0 0 20px #996f35;
}

.slide-2{
    object-fit: cover;
    width:100%;
}

/* About slide (slide 3) */
.slide-about-body-landscape{
color: var(--dark-font);
font-size: 2.5vw;
font-weight: 500;
font-family: var(--serif-font);
left: 1%;
letter-spacing: 1px;
line-height: 1.3;
position: absolute;
top: 5%;
}


.holistic-landscape{
    /* font-weight: 600; */
    /* text-shadow: 0 0 15px rgb(190, 162, 33); */
}

.about-btn{
    font-size: 1.1rem;
    margin-top: 10%;
    -webkit-appearance: none;
}

/* Infrared slide (carousel slide #4) */
.infrared-slide{
    background-color: rgb(15, 14, 11);
    color: white;
    font-family: var(--serif-font);
}

.infrared-slide-heading{
    font-size: 3vw;
}

.slide-body{
    font-size: 1.8vw;
    text-align: left;
    width: 75%;
}

/* Treatment options & Infrared Sauna sections*/
.massage-therapy-options,.infrared-sauna-main{
    font-family: var(--sans-serif-1);
    font-size: 1.2rem;
    width: 100%;
}

.services-grid{
    margin: var(--section-margin);
    padding: var(--section-padding);
}

.infrared-grid-main{
    margin: var(--section-margin);
    margin-bottom: 0;
    padding: var(--section-padding);
}

.infrared-subheading-main{
    font-size: 1.5rem;
    margin: 8% 0;
}

.infrared-benefits-mobile-main{
    display: none;
}

.massage-therapy-heading,.infrared-heading-main{
     font-size: 3rem;
    margin: 2% auto 5%;
    padding: 0;
}

.massage-therapy-img,.infrared-img-main{ 
    border-radius: 15px;
    margin: 6%;
    width: 100%;
}

.treatment-label{
font-size: 1.1rem;   
font-weight: 600;
letter-spacing: .8px;
margin-bottom: .5rem;
}

.pricing-btn,.sauna-btn{
    font-family: var(--sans-serif-1);
    font-size: 1.3rem;
    margin: 3% auto 1%;
    transition: .3s;
    -webkit-appearance: none;
}

.btn-optional-mobile{
    display: none;
}

.pricing-btn:hover,.sauna-btn:hover{
   transform: scale(.98);
}

.testimonial-cell{
    font-family: 'Sorts Mill Goudy', serif;
    padding: 4%;
}

.testimonial-box{
    padding: var(--section-margin)
}

#carouselTestimonials .indicator{
    border-radius: 50%;
    background-color: rgb(23, 26, 29);
    width:8px;
    height: 8px;
    margin: 0 10px;
}

#carouselTestimonials .carousel-control-next-icon,#carouselTestimonials .carousel-control-prev-icon{
   filter: brightness(0);
   transform: scale(1.2);
}

.testimonial-header{
    font-size: 5rem;
    text-align: center;
}

.testimonial-quote{
    font-size: 1.2rem;
}

/* .Copyright {
  bottom: 0;
  color: rgb(152, 215, 230);
  font-size: .75rem;
  margin: 20px auto 10px;
  position: absolute;
  width: 100%;
} */

.contact{
    background-color: rgb(18, 20, 22);
    padding: 3%;
}

.cta{
    color: var(--light-font);
    font-family: var(--serif-font);
    font-size: 1.2rem;
}

.cta-grid{
    gap:5%;
    }

.reach-out{
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 5%;
}

.green-bay{
    color: rgb(85, 170, 77);
    font-size: 1.4rem;
}

.phone-number{
    font-size: 1.2rem;
    margin-top: 10%;
}

.massage-table{
    border-radius: 20px;
    width: 100%;
}

.massage-table-mobile{
    display: none;
}

.social-icon {
  color: rgb(241, 225, 133);
  font-size: 1.5rem;
  padding: 0 20px;
}

.social-icon:hover{
    color: rgb(241, 225, 133);
}

/* About me & Infrared sauna page */
.about,.infrared-sauna-page{
    width: 100%;
}

.about-box,.infrared-box{
    margin: var(--section-margin);
    padding: var(--section-padding);
}

.headshot{
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgb(48, 46, 18);
    margin: 0 5% 3% 0;
    width: 30%;
}

.infrared-page-img-top{
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgb(8, 6, 19);
    width: 45%;
}

.infrared-page-img-bot{
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgb(8, 6, 19);
    width: 100%;
}

.about-me-desc{
    font-family: var(--sans-serif-2);
    font-size: 1.1rem;
    width: 100%;
}

.about-me-bottom{
    width: 80%;
}

.infrared-page-headings{
    font-size: 1.8rem;
}

.infrared-desc{
    font-family: var(--sans-serif-2);
    font-size: 1.1rem;
    width: 100%;
}


/* Pricing page */
.pricing-grid{
    
    /* margin-bottom: 20%; */
    padding: 2%;
    width: 100%;
}

.pricing-heading{
    font-family: var(--serif-font);
     font-size: 4rem;
    margin: 2% auto 5%;
    padding: 0;
}

.pricing-cell{
    font-family: var(--sans-serif-1);
    padding: 10px;
}

.pricing-box{
    background-color: #fff;
    /* box-shadow: 0 0 15px 1px rgba(87, 59, 8, 0.774); */
    border-radius: 5px;
    color: black;
    /* font-size: 1rem; */
    height: 100%;
   width: auto;
}

.header-text{
   font-family: var(--sans-serif-1);
   font-size: 1.6rem;
}

.box-header{
background-color: rgb(52, 58, 64);
color: white;
border-radius: 5px 5px 0 0;
}

.infrared-box-header{
background-color: rgb(175, 156, 70);
color: black;
border-radius: 5px 5px 0 0;
}

.massage-length{
    font-size: 1.2rem;
    font-weight: 600;
}

.save{
    color: rgb(3, 53, 3);
    font-size: 1.05rem;
}


/* footer for all pages besides the landing page */
.pages-footer{
     background-color: rgb(18, 20, 22);
     bottom: -80px;
    height: 80px;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}

@media (orientation:portrait){

.landscape-slide-img{
    display: none;
}

.portrait-slide-img{
    display: block;
    object-fit: cover;
    position: relative;
    width: 100%; 
}

.carousel-img-landscape{
    display: none;
}

.carousel-img-portrait{
    display: flex;
    direction: column;
    position: relative;
    object-fit: cover;
}

.carousel-1-text{
font-size: 3.6vw;
font-weight: 600;
top: 15%;
white-space: nowrap;
}

.landscape-caption-stones{
    display: none;
}

.portrait-caption-stones{
    color: black;
font-size: 3.5vw;
font-weight: 600;
font-family: 'Barlow Condensed', sans-serif;
left: 3%;
letter-spacing: 1px;
position: absolute;
/* text-shadow: 0 0 10px #a57817, 0 0 5px #996f35, 0 0 10px #996f35; */
top: 3%;
width: 60%;
}

.fancy-align{
    font-family: 'Dancing Script', cursive;
    font-size: 5vw;
    font-weight: 700;
    position: relative;
    text-shadow: 0 0 10px #a57817, 0 0 5px #996f35, 0 0 10px #996f35;
    
}

.slide-about-body-portrait{
color: var(--dark-font);
font-size: 3.5vw;
font-weight: 600;
font-family: var(--serif-font);
left: 2%;
letter-spacing: 1px;
line-height: 1.3;
position: absolute;
text-shadow: 0 0 15px rgba(252, 252, 252, 0.466);
top: 15%;
}

.about-btn{
    font-size: 2vw;
    margin-top: 20%;
}


.holistic-portrait{
    /* font-weight: 700; */
    /* text-shadow: 0 0 15px rgb(190, 162, 33); */
}

}

@media (max-width:991px){


.massage-therapy-brief{
    margin-bottom: 10%;
}

.infrared-text-main{
    text-align: center;
}

.infrared-heading-main{
    font-size: 2.5rem;
}

.infrared-subheading-main{
    color: rgb(253, 227, 192);
    font-size: 1.25rem;
}

.infrared-benefits-desktop-main{
    display: none;
}

.infrared-benefits-mobile-main{
    display: block;
}

.btn-optional-desktop{
    display: none;
}

.btn-optional-mobile{
     display: block;
}

.infrared-page-list,.infrared-desc{
    font-size: 1rem;
}
}

@media (max-width:767px){

 
:root {
  --section-padding: 4% 3%;
  --section-margin: 15% 0;
}

.gold-box{
    box-shadow: 0 0 10px 1px rgb(39, 35, 20);
}

.dark-box{
    box-shadow: 0 0 10px 1px rgb(31, 30, 30);
}

.services-grid{
    margin: var(--section-margin);
    padding: var(--section-padding);
}

.infrared-grid-main{
     margin: var(--section-margin);
     margin-bottom: 0;
    padding: var(--section-padding);
}

.brand-logo{
    margin: 15px 0 0;
    height:160px;
}

.navbar{
    background-color: transparent;
 }

#nav .nav-link{
    color: rgb(26, 26, 26);
    letter-spacing: normal;
    font-weight: 600;
    padding: 10px 0;
}


.massage-therapy-heading,.infrared-heading-main{
    font-size: 2.25rem;
    margin: 4% 0;
}

.cta-text h2{
    margin: 2% auto;
}

.massage-table-mobile{
    display: block;
    margin: 10% 0;
}

.massage-table-desktop{
    display: none;
}

.testimonial-cell{
    line-height: 1.1;
    padding: 5%;
}

.about-box,.infrared-box{
    margin: var(--section-margin);
    padding: var(--section-padding);
    margin-top: 5%;
}

.headshot{
    width: 40%;
}

.infrared-page-img-top{
    width: 50%;
}

.infrared-page-img-bot{
    width: 80%;
}

  }

@media (max-width:575px){
  .headshot{
      box-shadow: 0 0 10px 5px rgb(48, 46, 18);
    margin: 0 auto 10%;
    width: 90%;
}  

.about-box{
    padding: 10% 2%;
}

.infrared-img-box{
    text-align: center;
}

.infrared-page-img-top,.infrared-page-img-bot{
    width: 100%;
}

.about-me-bottom{
    width: 100%;
}

.carousel-control-prev-icon{
    left: 0;
    position: absolute;
}

.carousel-control-next-icon{
    right: 0;
    position: absolute;
}

.infrared-slide-heading{
    font-size: 4.5vw;
}

.slide-body{
    font-size: 3.2vw;
    text-align: left;
    width: 100%;
}

.save{
    color: rgb(9, 90, 9);
}

}